
.container{    
    max-width: 400px;      
    margin: 0 auto;
}
.row{
    height: 60px;  
    padding: 10px;  
}

h6 {
   color: red;
}

// input.ng-invalid .ng-touched {
//     border: 1px, solid red;
// }

// select.ng-invalid.ng-touched {
//     border: 1px, solid red;
// }

// input.ng-valid.ng-touched {
//     border: 1px, solid green;
// }

// select.ng-valid.ng-touched {
//     border: 1px, solid green;
// }