<!-- barra de navegaçao principal -->

<!-- <div class="container" *ngIf="sairPagina">
    <app-login (sairPaginaLogin)="sairPaginaLogin($event)"></app-login>
</div> -->
<!-- 
<div class="container" *ngIf="!sairPagina === true">     
    <app-pokemon-favorito (sairPaginaPokemon)="sairPaginaPokemon($event)"></app-pokemon-favorito>
</div> -->

<!-- <div class="container" *ngIf="!sairPagina === true">
    <app-pagina-erro (sairPaginaErro)="sairPaginaErro($event)"></app-pagina-erro>
</div> -->

<div class="container">
    <router-outlet></router-outlet>
</div>